<% @trip.errors.full_messages.each do |message| %>
    <div class="form-error">
        <%= message %>
    </div>
<% end %>
<div class="py-3">
    <div class="container">
        <%= form_with(url: "/trips/#{@trip.id}/update",local:true,method: :patch) do |form| %>

            <div class="form-group">
                <label class="col-form-label">タイトル</label>
                <%= form.text_field :title,maxlength:"15", value: @trip.title, class:"form-controll", style:"width:250px"%>
            </div>
            
            <div class="form-group">
                <label class="col-form-label">写真</label>
                <%= form.file_field :photo, class:"form-controll-file"%>
            </div>
            <div class="form-group">
                <%= image_tag @trip.photo, height:'250px'  %>
            </div>
            
            <div class="form-group">
                <label class="col-form-label">タイトル</label>
                <%= form.text_field :title,maxlength:"15", value: @trip.title, class:"form-controll", style:"width:250px"%>
            </div>
            
            <div class="form-group">
                <label class="col-form-label">タグづけ</label>
                <%= form.text_field :tag_list, value: @trip.tag_list, class:"form-controll", style:"width:250px" %>
            </div>

            <%= form.submit '更新する', class:"btn btn-outline-info" %>

            <!-- 位置情報手動取得
            <%= form.text_field :lat, value: @trip.lat %>
            <%= form.text_field :lon, value: @trip.lon %>
            <div>
                <button id=“geoButton2”>位置情報取得</button>
            </div>
            -->
        <% end %>

    </div>
</div>



<script>
   $(document).ready(function(){
       $("#“geoButton2”").click(function(){
           alert("aaa");
           let geo = navigator.geolocation;
           if (geo != null) {
               geo.getCurrentPosition(
                   function(position){
                       $("#lat").val(position.coords.latitude);
                       $("#lon").val(position.coords.longitude);
                       console.log(position.coords.latitude);
                       console.log(position.coords.longitude);
                   },
                   function(error){

                   }
               );
           }
       });
   });
</script>