<!DOCTYPE html>
<html>
  <head>
    <title>ShareTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <%= favicon_link_tag('/favicon.ico') %>
  </head>

  <body>
    <header class="py-4">
        <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
          <a class="navbar-brand" href="/">ShareTrip</a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="menu" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="<%= nav_item_class('/') %>">              
                <%= link_to("TOP","/", class:"nav-link") %>
              </li>
              <% if user_signed_in? %>
                <li class="<%= nav_item_class('/trips') %>">
                  <%= link_to("投稿一覧","/trips", class:"nav-link") %>
                </li>
                <li class="<%= nav_item_class('/trips/new') %>">
                  <%= link_to("新規投稿","/trips/new", class:"nav-link") %>
                </li>
                <li class="nav-item dropright">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expand="false"> 
                    <%= image_tag current_user.icon, class:"rounded-circle", height:'25px' %>
                    <%= current_user.nickname %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to("プロフィール変更","/account/edit", class:"dropdown-item") %>
                    <%= link_to("ログアウト",destroy_user_session_path,method: :delete, class:"dropdown-item") %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to("ログイン",new_user_session_path, class:"nav-link") %>
                </li>
              <% end %> 
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/tags" method="get">
              <input name="tags" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
    </header>
    <main class="py-4">
      <% if flash[:notice] %>
        <p class="notice alert-success" role="alert"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert alert-danger" role="alert"><%= flash[:alert] %></p>
      <% end %>
      <%= yield %>
    </main>
    <footer class="py-4 bg-dark text-light">
      <div class="container text-center">
        <p><small>&copy; 2018 Naoko Terauchi </small></p>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
